<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>

<form method="post">{% csrf_token %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        <li> {% if message.tags %} class="{{ message.tags }}"{% endif %}</li>
        {% endfor %}
    {% endif %}

<div class="form-group">
    <label>User Name</label>
    <input type="text"  name="username" placeholder="name"><br><br>
    <label>Email</label>
    <input type="email"  name="email" placeholder="email"><br><br>
    <label>Password</label>
    <input type="text"  name="password" placeholder="password"><br><br>
    <input type="submit" class="btn btn-primary" value="submit">

</div>
</form>

</center>
</body>

</html>